.Presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.menu>img {
    padding-left: 10px;
    width: 3.5%;
}

.title-projet{
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 80px;
}

.mini-button{
    padding: 20px 0px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.explication-projet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competence-projet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.competence-projet>p{
    letter-spacing: 1px;
    font-size: 20px;
    padding: 20px 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}

.projet{
    background: #f1f1f1;
    width: 70%;
}

.imageSolo>img{
    width: 800px;
    height: 440px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.imageDuo{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imageDuo>img{
    width: 550px;
    height: 274px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.image-sql>img{
    width: 850px;
    height: 347px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;    
}

.imageDuoStage>img {
    width: 550px;
    height: 375px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.imageSoloStage>img{
    width: 400px;
    height: 140px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.imageDuoStage>img:hover{
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.imageDuo>img:hover{
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}